<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>$site_name Job Overview</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet"> </link>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    
    <script type='text/javascript'>
    google.load('visualization', '1', {packages:['table']});
    $(document).ready(function() {
        // First, get the jobs
        $.get('jobs', gotjobs);
        
        // Next get the cluster information
        $.get('cluster', gotcluster);
        
    });
    
    function gotjobs(data){
        // data is a json object
        
        // Draw the jobs table
        var table_data = new google.visualization.DataTable();
        table_data.addColumn('string', 'User');
        table_data.addColumn('string', 'Group');
        table_data.addColumn('number', 'Jobs');
        table_data.addColumn('number', 'Running');
        table_data.addColumn('number', 'Pending');
        table_data.addColumn('number', 'Held');
        table_data.addColumn('number', 'CPU Eff (%)');
        table_data.addColumn('string', 'DN');
        
        for (user in data.user) {
            data.addRow(user.Owner, user.AccountingGroup, user.Jobs, user.Running, user.Pending, user.Held, user.cpu_eff, user.X509UserProxySubject);
        }
        var table = new google.visualization.Table(document.getElementById('users_table'));
        table.draw(table_data);
        
    }
    </script>
    
    
  </head>
  <body class="index">
    <div id="header">
      <h1>$site_name Job Overview</h1>
    </div>

    <div id="cpu_slots">
    <h2>CPU Slots</h2>

    </div>

    <div id="jobs">
    <h2>Job Slots</h2>

    </div>

    <div id="groups">
    <h2>Groups</h2>
    <div id='users_table'> </div>
    </div>

    <div id="schedd">
    <h2>Schedulers</h2>

    </div>

  </body>
</html>
