<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
    <head>
        <title>
            $site_name Job Overview
        </title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript">
</script>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js" type="text/javascript">
</script>
        <script type='text/javascript' src='https://www.google.com/jsapi'>
</script>
        <script type='text/javascript'>
//<![CDATA[

        google.load('visualization', '1', {packages:['table']});
        $(document).ready(function() {
        // First, get the jobs
        $.get('jobs', gotjobs);

        // Next get the cluster information
        $.get('cluster', gotcluster);

        });

        var cluster_stats = new Array();
        function gotcluster(data) {
            
            cluster_stats['totalcpus'] = data.total;
            cluster_stats['free'] = data.free;
            drawClusterStats();
            
            
        }

        function gotjobs(data){
        // data is a json object

        // Draw the jobs table
        var table_data = new google.visualization.DataTable();
        table_data.addColumn('string', 'User');
        table_data.addColumn('string', 'Group');
        table_data.addColumn('number', 'Jobs');
        table_data.addColumn('number', 'Running');
        table_data.addColumn('number', 'Pending');
        table_data.addColumn('number', 'Held');
        table_data.addColumn('number', 'CPU Eff (%)');
        table_data.addColumn('string', 'DN');

        for (user_key in data.user) {
            user = data.user[user_key];
            table_data.addRow([ user.Owner, user.AccountingGroup, user.jobs, user.running, user.pending, user.held, Math.round(user.cpu_eff*100)/100, user.X509UserProxySubject ]);
        }
        var table = new google.visualization.Table(document.getElementById('users_table'));
        table.draw(table_data, {sortColumn: 3, sortAscending: false});


        // Schedds
        var schedd_table_data = new google.visualization.DataTable();
        schedd_table_data.addColumn('string', 'Schedd');
        schedd_table_data.addColumn('number', 'Jobs');
        schedd_table_data.addColumn('number', 'Running');
        schedd_table_data.addColumn('number', 'Pending');
        schedd_table_data.addColumn('number', 'Held');

        for (schedd_key in data.schedd) {
            schedd = data.schedd[schedd_key];
            schedd_table_data.addRow([ schedd_key, schedd.jobs, schedd.running, schedd.pending, schedd.held ]);
        }
        var schedd_table = new google.visualization.Table(document.getElementById('schedd_table'));
        schedd_table.draw(schedd_table_data, {sortColumn: 2, sortAscending: false});
        
        cluster_stats['jobs'] = data.jobs.jobs;
        cluster_stats['running'] = data.jobs.running;
        cluster_stats['pending'] = data.jobs.pending;
        cluster_stats['held'] = data.jobs.held;
        drawClusterStats();


        }


        function drawClusterStats(){
            // There should be 6 elements in cluster_stats, exit if not 6
            if (cluster_stats.jobs != null && cluster_stats.running != null && cluster_stats.pending != null && cluster_stats.held != null && cluster_stats.totalcpus != null && cluster_stats.free != null) return;
            
            // Draw the overall stats
            job_slots_table = $('<table><\/table>');
            job_slots_table.addClass('table');
            job_slots_table.append("<tr><th>CPUs<\/th><th>Free<\/th><th>Jobs<\/th><th>Running<\/th><th>Pending<\/th><th>Held<\/th>")
            job_slots_table.append("<tr><td>" + cluster_stats.totalcpus + "<\/td><td>" + cluster_stats.free + "<\/td><td>" + data.jobs.jobs + "<\/td><td>" + data.jobs.running + "<\/td><td>" + data.jobs.pending + "<\/td><td>" + data.jobs.held + "<\/td><\/tr>");
            $("#job_slots_table").append(job_slots_table);
            
        }


        //]]>
        </script>
    </head>
    <body class="index">
        <div class="container">
            <div class="row-fluid">
                <div id="header" class="page-header span12">
                    <h1>
                        $site_name Job Overview
                    </h1>
                </div>
            </div>
            <div class="row-fluid">
                <div id="jobs" class="span5">
                    <h2>
                        Cluster Stats
                    </h2>
                    <div id="job_slots_table"></div>
                </div>
            </div>
            <div class="row-fluid">
                <div id="schedd" class="span6">
                    <h2>
                        Schedulers
                    </h2>
                    <div id="schedd_table"></div>
                </div>
            </div>
            <div class="row-fluid">
                <div id="groups" class="span12">
                    <h2>
                        Groups
                    </h2>
                    <div id="users_table"></div>
                </div>
            </div>
        </div><!-- container -->
    </body>
</html>
